<svg
  width="156"
  height="25"
  viewBox="0 0 156 25"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <title>Code hater</title>
  <path
    d="M9.40584 18.312C8.26984 18.312 7.20184 18.088 6.20184 17.64C5.20184 17.184 4.32184 16.556 3.56184 15.756C2.80984 14.956 2.21784 14.032 1.78584 12.984C1.36184 11.928 1.14984 10.8 1.14984 9.6C1.14984 8.392 1.36184 7.264 1.78584 6.216C2.21784 5.16 2.80984 4.236 3.56184 3.444C4.32184 2.644 5.20184 2.02 6.20184 1.572C7.20184 1.116 8.26984 0.888 9.40584 0.888C10.7658 0.888 12.0178 1.204 13.1618 1.836C14.3058 2.46 15.2538 3.296 16.0058 4.344L12.7898 6.072C12.3738 5.592 11.8738 5.208 11.2898 4.92C10.7058 4.632 10.0778 4.488 9.40584 4.488C8.76584 4.488 8.16184 4.62 7.59384 4.884C7.03384 5.148 6.53784 5.516 6.10584 5.988C5.68184 6.452 5.34984 6.992 5.10984 7.608C4.86984 8.224 4.74984 8.888 4.74984 9.6C4.74984 10.304 4.86984 10.964 5.10984 11.58C5.34984 12.196 5.68184 12.74 6.10584 13.212C6.53784 13.676 7.03384 14.044 7.59384 14.316C8.16184 14.58 8.76584 14.712 9.40584 14.712C10.0778 14.712 10.7058 14.568 11.2898 14.28C11.8738 13.984 12.3738 13.592 12.7898 13.104L16.0058 14.856C15.2538 15.896 14.3058 16.732 13.1618 17.364C12.0178 17.996 10.7658 18.312 9.40584 18.312Z"
    fill="currentColor"></path>
  <path
    d="M27.0361 18.312C25.9001 18.312 24.8321 18.088 23.8321 17.64C22.8321 17.184 21.9521 16.556 21.1921 15.756C20.4321 14.956 19.8361 14.032 19.4041 12.984C18.9721 11.928 18.7561 10.8 18.7561 9.6C18.7561 8.4 18.9721 7.276 19.4041 6.228C19.8361 5.172 20.4321 4.244 21.1921 3.444C21.9521 2.644 22.8321 2.02 23.8321 1.572C24.8321 1.116 25.9001 0.888 27.0361 0.888C28.1801 0.888 29.2521 1.116 30.2521 1.572C31.2521 2.02 32.1321 2.644 32.8921 3.444C33.6521 4.244 34.2441 5.172 34.6681 6.228C35.1001 7.276 35.3161 8.4 35.3161 9.6C35.3161 10.8 35.1001 11.928 34.6681 12.984C34.2441 14.032 33.6521 14.956 32.8921 15.756C32.1321 16.556 31.2521 17.184 30.2521 17.64C29.2521 18.088 28.1801 18.312 27.0361 18.312ZM27.0361 14.712C27.6761 14.712 28.2761 14.58 28.8361 14.316C29.4041 14.044 29.9041 13.676 30.3361 13.212C30.7681 12.74 31.1041 12.196 31.3441 11.58C31.5921 10.964 31.7161 10.304 31.7161 9.6C31.7161 8.896 31.5921 8.236 31.3441 7.62C31.1041 7.004 30.7681 6.464 30.3361 6C29.9041 5.528 29.4041 5.16 28.8361 4.896C28.2761 4.624 27.6761 4.488 27.0361 4.488C26.3961 4.488 25.7921 4.624 25.2241 4.896C24.6641 5.16 24.1681 5.528 23.7361 6C23.3041 6.464 22.9641 7.004 22.7161 7.62C22.4761 8.236 22.3561 8.896 22.3561 9.6C22.3561 10.304 22.4761 10.964 22.7161 11.58C22.9641 12.196 23.3041 12.74 23.7361 13.212C24.1681 13.676 24.6641 14.044 25.2241 14.316C25.7921 14.58 26.3961 14.712 27.0361 14.712Z"
    fill="currentColor"></path>
  <path
    d="M38.5533 18V1.2H44.1213C45.2813 1.2 46.3653 1.42 47.3733 1.86C48.3893 2.292 49.2813 2.896 50.0493 3.672C50.8253 4.44 51.4293 5.332 51.8613 6.348C52.3013 7.356 52.5213 8.44 52.5213 9.6C52.5213 10.76 52.3013 11.848 51.8613 12.864C51.4293 13.872 50.8253 14.764 50.0493 15.54C49.2813 16.308 48.3893 16.912 47.3733 17.352C46.3653 17.784 45.2813 18 44.1213 18H38.5533ZM42.1533 14.4H44.1213C44.7693 14.4 45.3813 14.276 45.9573 14.028C46.5333 13.78 47.0453 13.436 47.4933 12.996C47.9413 12.556 48.2893 12.048 48.5373 11.472C48.7933 10.888 48.9213 10.264 48.9213 9.6C48.9213 8.936 48.7933 8.316 48.5373 7.74C48.2893 7.164 47.9413 6.656 47.4933 6.216C47.0533 5.768 46.5453 5.42 45.9693 5.172C45.3933 4.924 44.7773 4.8 44.1213 4.8H42.1533V14.4Z"
    fill="currentColor"></path>
  <path
    d="M55.5267 18V1.2H66.2307V4.8H59.1267V7.2H64.5987V10.8H59.1267V14.4H66.2307V18H55.5267Z"
    fill="currentColor"></path>
  <path
    d="M86.5803 1.2H90.1803V18H86.5803V10.8H80.6283V18H77.0283V1.2H80.6283V7.2H86.5803V1.2Z"
    fill="currentColor"></path>
  <path
    d="M99.8755 1.2H103.932L110.028 18H106.212L105.252 15.36H98.5555L97.5955 18H93.7795L99.8755 1.2ZM99.8755 11.76H103.932L101.892 6.192L99.8755 11.76Z"
    fill="currentColor"></path>
  <path
    d="M123.93 1.2V4.8H119.13V18H115.53V4.8H110.73V1.2H123.93Z"
    fill="currentColor"></path>
  <path
    d="M127.527 18V1.2H138.231V4.8H131.127V7.2H136.599V10.8H131.127V14.4H138.231V18H127.527Z"
    fill="currentColor"></path>
  <path
    d="M142.063 18V1.2H148.903C149.823 1.2 150.655 1.432 151.399 1.896C152.143 2.36 152.731 2.984 153.163 3.768C153.603 4.544 153.823 5.4 153.823 6.336C153.823 7.056 153.703 7.728 153.463 8.352C153.223 8.968 152.879 9.516 152.431 9.996C151.991 10.468 151.471 10.848 150.871 11.136L154.855 18H150.703L146.911 11.472H145.663V18H142.063ZM145.663 7.872H148.471C148.791 7.872 149.083 7.792 149.347 7.632C149.611 7.464 149.823 7.244 149.983 6.972C150.143 6.7 150.223 6.4 150.223 6.072C150.223 5.744 150.143 5.444 149.983 5.172C149.823 4.9 149.611 4.684 149.347 4.524C149.083 4.356 148.791 4.272 148.471 4.272H145.663V7.872Z"
    fill="currentColor"></path>
  <path
    d="M0 24C0 23.4477 0.447715 23 1 23H155C155.552 23 156 23.4477 156 24C156 24.5523 155.552 25 155 25H0.999998C0.447713 25 0 24.5523 0 24Z"
    fill="currentColor"></path>
</svg>
